/*
 * GRILLES CSS
** =============================================================== */

.section{
    margin: auto;
    max-width: 400px;
    display: grid;
    padding: 15px;
    grid-template-columns:  repeat(5, 1fr) ;
    grid-gap: 16px 8px;
    
    &>*{
        grid-column: 1/-1;
        max-width: 100%;
    }
    &--margin{
        margin-bottom: 3em;
    }
    // .btn,.button{
    //     width: 50%;
    //     // grid-column: inherit;
    //     // grid-column: 1/5;
    // }
}
.mgrid-start1 {
    grid-column-start: 1;
}
.mgrid-start4 {
    grid-column-start: 4;
}
.mgrid-end3 {
    grid-column-end: 3;
}
.mgrid-end4 {
    grid-column-end: 4;
}
.mgridRow-start2 {
    grid-row-start: 2;
}


.footer__div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 15px;
}
.footer__nav--reseau{
    justify-self: end;
}
@media screen and (min-width: 768px) {
    .section {
        margin: auto;
        max-width: 768px;
        display: grid;
        padding: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px 32px;
    }
    .section--atelier{
        grid-template-columns: repeat(2, 1fr);
        &>*{
            grid-column: auto;
        }
    }
    .section--projet{
        padding: 0;
        max-width: inherit;
        margin: 0;
        padding: 0;
    }
    .section--geeky, .image--insecte, .images--abeille{
       grid-column: 1/3; 
    }
    .section--phamidae, .video--cube, .image--colep{
        grid-column: 3/5; 
     }
     .footer__div{
        grid-template-columns: repeat(3, 1fr);
        padding: 3em;
        max-width: 768px;
        margin: auto;
        grid-gap: 25px;
    }
    .tgrid-end3 {
        grid-column-end: 3;
    }
    .tgrid-end5 {
        grid-column-end: 5;
    }
    .tgrid-end {
        grid-column-end: -1;
    }
    .tgrid-start1 {
        grid-column-start: 1;
    }
    .tgrid-start4 {
        grid-column-start: 4;
    }
    .tgridRow-start4 {
        grid-row-start: 4;
    }
    .tgridRow-end3 {
        grid-row-end: 3;
    }
    .tgridRow-end4 {
        grid-row-end: 4;
    }
    .tgridRow-end5 {
        grid-row-end: 5;
    }
    .tgridRow-end6 {
        grid-row-end: 6;
    }
}    
@media screen and (min-width: 1400px) {
    .section {
        max-width: 1400px;
        grid-template-columns: repeat(9, 1fr);
        padding: 5em;
    }
    .section--geeky, .image--insecte, .images--abeille{
       grid-column: 1/5; 
    }
    .section--phamidae, .video--cube, .image--colep{
        grid-column: 6/10; 
    }
    .section--atelier{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em;
        &>*{
            grid-column: auto;
        }
    }
     .footer__div{
        max-width: 1400px;
    }
    // .video--cube{
    //     grid-column: 5/10; 
    //  }
    .pgridColumn-start6 {
        grid-column-start: 6;
    }
    .pgrid-end5 {
        grid-column-end: 5;
    }
    .pgrid-end8 {
        grid-column-end: 8;
    }
    .pgrid-end9 {
        grid-column-end: 9;
    }
    .pgrid-end {
        grid-column-end: -1;
    }
    .pgridRow-start1{
        grid-row-start: 1;
    }
}  