/*
 * LAYOUT
** =============================================================== */
/* Body */
.body{
    background-color: var(--color-background);
}
.logo--fs{
    fill: var(--color-primary);
}
.shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}





.conteneur{
    display: flex;
    justify-content:center;
    align-content: center;
    // margin: 6em;
    position: relative;
  /*   max-width: 800px;
    margin: auto; */
  }
  .conteneur__img{
    width:100%;
    position: relative;
  }
  .circle--design{
    width:150px;
    padding:3em;
    position: absolute;
    top: -120px;
    right: -120px;
    animation: circle 15s linear infinite;
  } 
  @keyframes circle{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }































/* Loader */
// @keyframes loader {
//     to {
//         opacity: 0;
//     }
//     // 0%{
//     //     opacity: 0;
//     // }
//     // 50%{
//     //     opacity: 1;
//     // }
//     // 100%{
//     //     opacity: 0;
//     // }
// }
// @keyframes loaderLogo {
//     0%{
//         opacity: 0;
//     }
//     50%{
//         opacity: 1;
//     }
//     100%{
//         opacity: 0;
//     }
// }
.loader--fs{
    background:inherit;
    path {
        opacity: 0;
        fill: none;
        stroke: #4169e1;
        stroke-width: 2px;
    }
}

.section--loader{
    width:  100%;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
    background-color: var(--color-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    // animation: loader .6s 4s forwards cubic-bezier(1,0,0,1);
    // transition: .6s;
    pointer-events: none;
    .loader--fs{
        width: 50%;
        // animation: loaderLogo 4s forwards cubic-bezier(.45,.05,.55,.95);
        // opacity: 0.75;
        // transition: .3s;
    }
}
.circle{	
	border-radius: 50% 0px 50% 50%;
	width: 0px;
	height: 0px; 
	position:absolute;
	top: 0px;
	right: 0px;
	background:var(--color-burger);
	opacity:1;
	transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
    overflow: hidden;
    z-index: 2;
}
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
    align-items:center;
    padding: 15px;
    max-width: 1400px;
    margin: auto;
    .burger{
        justify-self:end;
    }
    .logo--fs{
        width: 50px;
        cursor: pointer;
        path{
            cursor: pointer;
        }
    }
}
.menu{
    display: none;
    overflow: hidden;
}
.menu__liste {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: auto;
    text-align: center;
}
.menu__el{
    text-align: center;
    opacity: 0;
}
.menu__lien{
    color:var(--color-on-burger);
	text-transform:uppercase;
	text-decoration:none;	
	letter-spacing:3px;	
    display: inline-block;
    padding: 1em;
    margin: .5em;
    font-size: 20px;
    transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.menu__lien--darkMode{
    padding: 12px 0px 12px 72px;
    display: flex;
}
.DarkMode{
    display: flex;
    align-self: center;
    align-items: center;
}
// body[data-theme="light"] .icone {
//     content: url("../images/lune_Loup.svg");
//     width: 40px;
// }
// body[data-theme="dark"] .icone {
//     content: url("../images/soleil_lune-Lion.svg");
//     width: 40px;
// }
.icone{
    width: 40px;
    cursor: none;
}
.loup>*, .lion>* {
    fill: var(--color-on-burger);
}
.icone ,.loup, .lion {
    cursor: initial;
}
// .lion>* {
//     fill: var(--color-on-primary);
// }
.lion {
    display: none;
}
body[data-theme="light"] .lion {
    display: none;
}
body[data-theme="dark"] .loup {
    display: none;
}
body[data-theme="dark"] .lion {
    display: inherit;
}
body[data-menu] .menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-y: scroll;
}
body[data-menu] .DarkMode--icone:hover {
    background-image: url(../../assets/images/lune_Loup.svg);
}
body[data-menu] .logo--footer{
    display: none;
}
body[data-menu] .main{
    display: none;
}
body[data-menu] .circle{
	width:100vw;
	height:100vh;	
	transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
    border-radius: 0%;				
}
body[data-menu] .logo--fs{
    fill: #fff;
    position: relative;
    z-index: 99;
    transition: top 0.4s ease-in-out;
    opacity: 0;
    animation-delay: 0.3s;
    animation-duration: 0.6s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}
body[data-menu] .menu__el {
    // opacity: 1;
    // transition-delay: 4s;
    animation-delay: 0.3s;
    animation-duration: 0.6s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}
@keyframes slidein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.navBtn__svg{
    fill:  var(--color-primary);
    cursor: pointer;
    path{
        cursor: pointer; 
    }
}
body[data-menu] .navBtn__svg{
    fill: #fff;
}
.color--primary{
    color: var(--color-primary);

    abbr{
       cursor: pointer;  
    }
}
.color--primary:hover{
    border-bottom: 2px solid var(--color-primary);
    cursor: pointer;
}
.main--cv .color--primary:hover{
    border-bottom:inherit;
    cursor: inherit;
}
.img{
    max-width: 100%;
}
.img--border{
    border-radius: 5px;
}

.btn--5 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.button-mat {
    // color: #5533ff;
    color: var(--color-primary);
    border: 0px transparent;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
        transition-delay: 0s;
    transition-delay: 0.35s;
    overflow: hidden;
}
.button {
    padding: 15px 15px 10px 15px;
    background-color:  var(--color-on-primary);
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
    will-change: transform;
    z-index: 0;
}
.btn--5::before {
    transform: translate(-120%, -50%) translateZ(0);
}
.button-mat::before {
    content: "";
    display: block;
    background-color: var(--color-primary);
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}
.psuedo-text {
    color: var(--color-primary);
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline;
    height: auto;
    font-size: 1.2em;
    font-size: 700;
    transition: 0.25s ease-in;
    transition-delay: 0s;
    transition-delay: 0.1s;
    cursor: pointer;
}
.button-mat:hover {
    color: transparent;
}
.btn--5:hover::before {
    transform: translate(-45%, -34%) translateZ(0);
}
.button-mat:hover .psuedo-text {
    // color: white;
    color: var(--color-on-primary);
}
.section__btn{
    position: relative;
    z-index: 0;
}
.projets{
    position: relative;
}
.navigation{
    position: absolute;
    padding: 1em;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.navigation__el{
    display: flex;
    place-content: center;
    margin-left: 3em; 
}
.color--OnPrimary{
    color: var(--color-on-primary); 

    &:hover{
        color: var(--color-primary-variant); 
        border-bottom: 2px solid var(--color-primary-variant);
    }
}
.nav__lien, .small__lien{
    color: var(--color-on-background);
    &:hover{
        color: var(--color-on-footer-hover);
        border-bottom: 2px solid var(--color-on-footer-hover);
    }
}
.footer{
    background-color: var(--color-background);
    border-top: 1px solid var(--color-on-border-background);
    margin-top: 3em;
}
.footer__small{
    justify-self: center;
}
.reseau__el{
    width: 30px;
}
.reseau__lien, .reseau__el, .reseau__img{
    cursor: pointer;
    filter: grayscale(50%);
    &:hover{
        filter: inherit;
    }
}
.navigation__lien{
    color: #fff;
    &:hover{
        color: #00FFFF;
        border-bottom: 2px solid #00FFFF;
    }
}
.navigation__lien--prymary{
    color: #4169e1;
    &:hover{
        color: #09163b;
        border-bottom: 2px solid #09163b;
    }
}


/*---------- Gallery images ----------*/
/*Grille Gallery*/
.gallery {
    padding: 0 0 4rem 0;
}
.gallery__container {
    margin: auto;
    padding: 1rem;
    max-width: 380px;
    // width: 100%;
}
.container__section{
    width:100%;
    // max-width: 71.25rem;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
}
.el__container {
    // width: 100%;
    // height: 500px;
    overflow: hidden;
}
.container__img {
  block-size: auto;
  max-inline-size: 100%;
  vertical-align: middle;
//   width: 100%;
//   height: 500px;
//   object-fit: cover;
  object-fit: contain;
}

/*Nav tbn*/
.nav{
  list-style: none; 
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.nav .nav__el{
  padding:5px;
}
/*Boutton*/
.btn {
    border: 1px solid var(--color-on-background);
    padding: 8px 15px;
    border-radius: .3rem;
    color: var(--color-on-background);
    display: inline-block;
    margin: 3px 0;
    background-color: transparent;
    cursor:pointer;
}
//Btn quand il est Hover
.btn:hover{
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
//Btn quand il est actif
.btn--active {
    background: var(--color-primary);
    color: var(--color-on-primary);
    border: 1px solid var(--color-primary);
    &:hover{
        color: var(--color-on-primary);
    }
}
// filtre
.img--hidden{
  display: none;
}
// image au click
.lb {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.lb--big {
    display: block;
}
.lb__flex{
   display: flex;
   justify-content: center;
   align-items: center; 
   height: 100%;
}
.flex__img{
    display: block;
    width: 850px;
    max-width: 90vw;
    padding: 3%;
    cursor: zoom-out;
}
/*---------- Images projets ----------*/
.imgBacground{
    background-image: url("../../assets/images/geeky2.png");
    // background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.imgBacground--data{
    background-size: contain;
    background-color: #232036;
}
.imgBacground--tfe{
    background-image: url("../../assets/images/tfe.png");
}
.imgBacground--tfa{
    background-image: url("../../assets/images/phamidae.png");
}
.imgBacground--rux{
    background-image: url("../../assets/images/rux.jpg");
}
.imgBacground--iolce{
    background-image: url("../../assets/images/iolce.jpg");
}
.imgBacground--hello{
    background-image: url("../../assets/images/helloWolrd.jpg");
}
.imgBacground--maintenance{
    background-image: url("../../assets/images/maintenance_pc.png");
}
.imgBacground--erreur{
    background-image: url("../../assets/images/Error403.png");
}
.imgBacground--musicplz{
    background-image: url("../../assets/images/musicPlz.png");
}
.imgBacground--creaapp{
    background-image: url("../../assets/images/creaapp.png");
    background-position: bottom;
}
.imgBacground--ilab{
    background-image: url("../../assets/images/Ilab_Migratio.png");
}

// image Retina
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
/* Css pour le retina @2x ici */
    .imgBacground{
        background-image: url("../../assets/images/geeky2@2x.png");
    }
    .imgBacground--tfa{
        background-image: url("../../assets/images/phamidae@2x.png");
    }
    .imgBacground--rux{
        background-image: url("../../assets/images/rux@2x.jpg");
    }
    .imgBacground--iolce{
        background-image: url("../../assets/images/iolce@2x.jpg");
    }
    .imgBacground--hello{
        background-image: url("../../assets/images/helloWolrd@2x.jpg");
    }
    .imgBacground--maintenance{
        background-image: url("../../assets/images/maintenance_pc@2x.png");
    }
    .imgBacground--erreur{
        background-image: url("../../assets/images/Error403@2x.png");
    }
}
.section__div > * {
    padding-bottom: 8px;
}
.section__div .section__btn {
padding-top: 16px;
}
.div__btn{
    display: flex;
    flex-wrap: wrap;
}
.div__btn .section__btn--2{
    padding-left: 15px;
}
.section__div .div__btn .section__btn--404{
    padding-left: 0px;
}
.video--design{
    max-width: 100%;
}
/***** Css pour SVG picto ******/
.circle-svg {
    display: block;
    width: 75px;
    margin: 10px auto;
    max-height: 75px;
    background-image:url("../../assets/images/photoshop.svg");
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    &--illu{
        background-image:url("../../assets/images/illustrator.svg");
    }
    &--ind{
        background-image:url("../../assets/images/indesign.svg");
    }
    &--light{
        background-image:url("../../assets/images/lightroom.svg");
    }
    &--after{
        background-image:url("../../assets/images/after-effects.svg");
    }
    &--html{
        background-image:url("../../assets/images/html5.svg");
    }
    &--css{
        background-image:url("../../assets/images/css-3.svg");
        background-size: 30px;
    }
    &--js{
        background-image:url("../../assets/images/javaScript.svg");
    }
    &--invision{
        background-image:url("../../assets/images/invision.svg");
    }
    &--node{
        background-image:url("../../assets/images/nodejs-icon.svg");
    }
    &--git{
        background-image:url("../../assets/images/git-icon.svg");
    }
    &--visual{
        background-image:url("../../assets/images/visual-studio-code-1.svg");
    }
    &--gulp{
        background-image:url("../../assets/images/gulp.svg");
        background-size: 19px;
    }
    &--obs{
        background-image:url("../../assets/images/obs-2.svg");
    }
    &--blender{
        background-image:url("../../assets/images/blender-2.svg");
    }
}
.around {
    stroke: var(--color-on-border-background);
    fill: none;
    stroke-width: 4px;
}
.percent {
    stroke: var(--color-primary);
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;
    animation: progress 1.5s ease-out forwards;
}
@keyframes progress {
    from {
      stroke-dasharray: 0, 100;
    }
    // to {
    //   opacity: 1;
    // }
  }
.listComp{
    display: flex;
    flex-wrap: wrap;
}
.el__images{
    width: 100%;
    max-width: 65px;
    padding: 10px;
    fill: var(--color-primary);
    &--joy{
        width: 200px;
    }
}
.main--cv .div__btn .section__btn--cv{
    padding: 0px;
    padding-top: 10px;
}
.darkSvg:hover{
    fill: var(--color-primary);
}
.DarkMode--icone{
    background-image:url("../../assets/images/lune_Loup.svg");
    background-repeat: no-repeat;
}
.DarkMode--icone:hover{
    background-image:url("../../assets/images/lune_LoupHover.svg");
}
body[data-theme="dark"] .DarkMode--icone {
    background-image:url("../../assets/images/soleil_lune-Lion.svg");
}
body[data-theme="dark"] .DarkMode--icone:hover {
    background-image:url("../../assets/images/soleil_lune-LionHover.svg");
}

.projets .img{
    width: 100%;
    max-height: 508px;
}
.image--badge{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo--footer{
    width: 80px;
    cursor: pointer;
    path{
        cursor: pointer;
    }
}
.footer__contact{
    padding-top: 10px;
}
.copyright{
    padding-top: 20px;
}







@media screen and (min-width: 768px) {
    .div__btn .section__btn .section__btn--404{
        padding-left: 0px;
    }
    .main--cv .div__btn .section__btn--cv{
        padding-left: 15px;
        padding-top: 0px;
    }    
    .el__images{
        max-width: 75px;
        &--joy{
            width: 200px;
        }
    }
    .circle-svg {
        width: 150px;
        margin: 10px auto;
        max-height: 150px;
        background-size: 65px;
        &--gulp{
            background-size: 40px;
        }
        &--css{
            background-size: 58px;
        }
    }
    .header .logo--fs{
        width: 60px;
    }
    .gallery__container {
        max-width: 768px;
        padding: 2rem;
    }
    .container__section{
        max-width: 768px;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 8px;
    }
    .container__section--photo{
        grid-template-columns: repeat(4, 1fr);
    }
    .el__container {
        width: 100%;
        // height: 500px;
    }
    .container__img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    //   object-fit: contain;
    }    
    .container__img:hover{
        transform: scale(0.95);
        object-fit: contain;
        cursor: zoom-in;
    }
    .img--contain{
        object-fit: contain;
    }
    .img--cover{
        object-fit: cover;
    }
    /*Grid palcement*/
    .column--span4 {
        grid-column-start: span 4;
        grid-column-end: span 4;
    }
    .column--span6 {
        grid-column-start: span 6;
        grid-column-end: span 6;
    }
    .column--span8 {
        grid-column-start: span 6;
        grid-column-end: span 6;
    }
    .column--span12 {
        grid-column-start: span 12;
        grid-column-end: span 12;
    }
    .nav .nav__el {
        padding: 10px;
    }
    .btn {
        padding: 15px 30px;
        font-weight: bold;
    }
    
    .imgBacground {
        height: auto;
    }
}    
@media screen and (min-width: 1400px) {
    .section--loader{
        .loader--fs{
            width: 350px;
        }
    }
    .header .logo--fs{
        width: 75px;
        padding: 15px;
    }
    .header {
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-gap: 20px 20px;
        // align-items: center;
        // padding: 15px;
    }
    .menu {
        display: inline-block;
        overflow: inherit;
    }
    .menu__liste {
        // margin: 0;
        // padding: 0;
        // margin: auto;
        // text-align: center;
        display: inline-flex;
        // align-self: center;
    }
    .menu__el{
        padding-right: 1em;
        text-align: center;
        opacity: inherit;
    }
    .menu__lien{
        color:var(--color-on-background);
        text-transform: inherit;
        // text-decoration:none;	
        letter-spacing: 1px;	
        // display: inline-block;
        padding: 0.5em;
        // margin: .5em;
        font-size: 0.8em;
        transition: inherit;
        
        &:hover, .darkSvg:hover{
            color: var(--color-primary);
            fill: var(--color-primary);
            // .darkSvg:hover{
            //     fill: var(--color-primary);
            // }
        }
        &--active{
            color: var(--color-on-primary-hover);
            border-bottom: 2px solid var(--color-on-primary-hover);
        }
    }
    .circle, .navBtn{
        display: none;
    }
    .js-theme-trigger{
        margin: 0;
    }
    .loup>*, .lion>* {
        fill: var(--color-on-background);
    }
    .gallery__container {
        max-width: 1400px;
        padding: 2rem;
    }
    .container__section{
        max-width: 1400px;
        // grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
    }
    .container__img {
        width: 100%;
        max-height: 800px;
        // object-fit: cover;
        object-fit: contain;
    } 
    .nav .nav__el {
        padding: 15px;
    }
    /*Grid palcement*/
    .column--span3 {
        grid-column-start: span 3;
        grid-column-end: span 3;
    }
    .section__div > * {
        padding-bottom: 16px;
        max-width: 500px;
    }
    .section__div .section__btn {
        padding-top: 32px;
    }
    .menu__lien--darkMode {
        padding: 12px 0px 12px 50px;
    }
    .images--abeille, .image--colep{
        width: 100%;
    }
}  